################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/spring-2025-BryanGross21/FileContentIndex
/CIS598Project/.vs/CIS598Project/FileContentIndex
